
<div class="p-5">
    <h1>Getting Started</h1>
    <h4>Mission: Familiarize Interns with basic Bootstrap/HTML/CSS </h4>
    <div class="row d-flex align-items-stretch">
        <div class="col-md-4 mt-5 d-flex align-items-stretch">
            <div class="card mx-auto card-width">
                <img src="/assets/imgs/html.png" class="card-img-top p-5" alt="html.png">
                <div class="card-body">
                  <h5 class="card-title">HTML5</h5>
                  <p class="card-text">Here are some resources to get you used to HTML5.</p>
                  <a href="https://www.w3schools.com/tags/default.asp" class="btn btn-primary">W3 Schools HTML5</a>
                  <a href="https://www.youtube.com/watch?v=UB1O30fR-EE" class="btn btn-primary mt-2">HTML 5 Crash Course</a>
                </div>
              </div>
        </div>
        <div class="col-md-4 mt-5 d-flex align-items-stretch">
            <div class="card mx-auto d-flex align-items-stretch card-width">
                <img src="/assets/imgs/bootstrap.png" class="card-img-top p-5" alt="bootstrap.png">
                <div class="card-body">
                  <h5 class="card-title pt-4">Bootstrap</h5>
                  <p class="card-text">Here are some resources to get you used to Bootstrap.</p>
                  <a href="https://www.w3schools.com/bootstrap4/default.asp" class="btn btn-primary">W3 Schools Bootstrap</a>
                  <a href="https://www.youtube.com/watch?v=5GcQtLDGXy8&t=1s" class="btn btn-primary mt-2">Bootstrap Crash Course</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-5 d-flex align-items-stretch">
            <div class="card mx-auto card-width">
                <img src="/assets/imgs/css.png" class="card-img-top  p-5" height="275" alt="css.png">
                <div class="card-body">
                  <h5 class="card-title">CSS 3</h5>
                  <p class="card-text">Here are some resources to get you used to CSS.</p>
                  <a href="https://www.w3schools.com/css/default.asp" class="btn btn-primary">W3 Schools CSS 3</a>
                  <a href="https://www.youtube.com/watch?v=yfoY53QXEnI" class="btn btn-primary mt-2">CSS 3 Crash Course</a>
                </div>
            </div>
        </div>
    </div>

    <h3 class="mt-5">Repo: </h3>
    <a href="https://github.com/davidcastel/Draft-Studios-Summer-2021">https://github.com/davidcastel/Draft-Studios-Summer-2021</a>

    <h3 class="mt-5">Development Setup For Interns: </h3>
    <a href="https://docs.google.com/document/d/1ZPE4jpol5UEdE6a30ME-nCNjIEZmITQ6JOg6lK1rpYQ/edit">https://docs.google.com/document/d/1ZPE4jpol5UEdE6a30ME-nCNjIEZmITQ6JOg6lK1rpYQ/edit</a>

    <h3 class="mt-5">List of Free Development Apis to Use: </h3>
    <a href="https://docs.google.com/document/d/1ZPE4jpol5UEdE6a30ME-nCNjIEZmITQ6JOg6lK1rpYQ/edit">https://docs.google.com/document/d/1ZPE4jpol5UEdE6a30ME-nCNjIEZmITQ6JOg6lK1rpYQ/edit</a>
    
    <h3 class="mt-5">Bonus Javascript Libraries to Use: </h3>
    <a href="https://mixedanalytics.com/blog/list-actually-free-open-no-auth-needed-apis/">https://mixedanalytics.com/blog/list-actually-free-open-no-auth-needed-apis/</a>
    <br>
    <a href="https://github.com/lokesh/lightbox2">https://github.com/lokesh/lightbox2</a>
    <br>
    <a href="https://jquery.com/">https://jquery.com/</a>
    <br>
    <a href="http://imakewebthings.com/waypoints/">http://imakewebthings.com/waypoints/</a>
    <br>
    <a href="https://animate.style/">https://animate.style/</a>
    
</div>

<script>

</script>

<style>
    .card-width{
        width: 18rem;
    }
    
</style>